<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
  Endpoints:<br><br>
<pre>/getAdd: Returns the stored videos in Descending order of published datetime.</pre>
<pre>/search/:query: Endpoint to search the stored video using their title and description.</pre><br><br>
</html>
